# Logs
logs
*.log

/server/config/local.env.js
/server/config/development.env.js

# istanbul
coverage

# build
build
dist

# dependency directory
node_modules

# npm log
npm-debug.log

# tmp file
.tmp

# editor files
.vscode
.idea