.text-logo {

	font-family: "MrsSheppards";

}

.num-button {

  padding: 0px!important;

}

.btn-row {

	margin: 0;

}

.item-list {

  height: 350px;
  overflow: auto;
	margin-top: 20px;

	.err-msg {

    width: 100%;

  }

}


