.text-logo {

	font-family: "MrsSheppards";

}

.num-button {

  padding: 0px!important;

}

.btn {
	height: auto;
	min-height: 80px;
	width: 100%;
	border-radius: 0;
	box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.14), 0 2px 2px 0px rgba(0, 0, 0, 0.14), 0 2px 2px 0px rgba(0, 0, 0, 0.14);


	p {
		margin: 10px;
		line-height: 10px;
	}

}

.btn-row {

	margin: 0;

}

.item-list {

  height: 350px;
  overflow: auto;
	margin-top: 20px;

	.err-msg {

    width: 100%;

  }

}


